.title{
    margin-top: 20px;
}
.canvas{
    width:  200px;
    height: 200px;
    padding: 5px;
    display: block;
}
.selected{
    border: 1px solid red;
}
.sml{
    width: 100px;
    height: 100px;
}

.main {
    margin-top: 20px;
}
.timeline {
    margin-top: 20px;
}
.cards-head{
    height: 50px;
}
.cards .card{
    margin-right: 10px;
    display: inline-block;
}
.pixel{
    width: 12%;
    height: 12%;
    margin-right: .5%;
    margin-bottom: .5%;
    background: #eee;
    border-radius: 50%;
    float: left;
}
.active{
    background: red;
}
.side-btn {
    float: right;
    margin-left: 5px;
    margin-top: 0px; 
}
.list-group-item span{
    line-height: 2;
}
.name-input{
    margin-top: 10px;
}
.tl-thumbnails {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 130px;
}
.tl-thumbnails .card {
    margin-right: 10px;
    display: inline-block;
}
.playback-speed input{
    width: 4rem;
}
.repeat{
    font-size: .8em;
    line-height: 30px;
    margin-bottom:0; 
}
